.carousel-indicators{
    padding-right: 160px;
    display: unset;
    margin-right: 0;
    top: 10px;
}
.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #95B9FF;
    border-bottom: 0px;
    border-top: 0px;
}
.carousel-inner{
    position: absolute;
    top: -692px;
    right: 1px;
    width: 365px;
}

#adjust{
    margin-right: -45px;
}
#adjust-1{
    margin-left: 144px;
    padding-right: 88px;
}
#right{
    position: absolute;
    top: -692px;
    left: 28px;
    width: 365px;
}
#button-left{
    padding-left: 184px;
    display: unset;
    margin-left: 0;
    top: 10px;
}
#left-word{
    position: relative;
    left: 20px;
    margin-left: auto;
}
